.cool-card
    .cool-card-title
        span PUE实时趋势
        //- .material-icons.right mode_edit
        i.right.modal-trigger(data-target='energy-score-modal')
            svg.icon-edit(version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57 57" xml:space="preserve")
                g
                    rect(x="39.2" y="6.8" transform="matrix(0.7071 0.7071 -0.7071 0.7071 20.1359 -31.9204)" style="fill:#4AC0FF;" width="18.7" height="3")
                    rect(x="31.3" y="14.8" transform="matrix(0.7071 0.7071 -0.7071 0.7071 23.4523 -23.9333)" style="fill:#4AC0FF;" width="18.7" height="3")
                    rect(x="2.2" y="43.9" transform="matrix(0.7071 0.7071 -0.7071 0.7071 35.4773 5.0976)" style="fill:#4AC0FF;" width="18.7" height="3")
                    polygon(style="fill:#4AC0FF;" points="3.8,55.7 5.8,41.8 3.1,40.6 0.8,56.1")
                    polygon(style="fill:#4AC0FF;" points="1.2,53.3 15.1,51.1 16.3,53.9 0.8,56.1")
                    rect(x="7" y="31.3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -12.8931 34.5382)" style="fill:#4AC0FF;" width="56.5" height="3")
                    rect(x="-4.1" y="20.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.2822 23.4064)" style="fill:#4AC0FF;" width="56.5" height="3")
    .signal-line(style="height: 36vh")
#energy-score-modal.modal.modal-fixed-footer(md-modal)
    .modal-header
        span.modal-content-title 能耗统计分项编辑
        i.modal-cancel.modal-close.material-icons close
            //- .material-icons close
    .modal-content
        .all-energy
            span.energy-title 总体能耗
            table.energy-table.striped.responsive-table.hoverable.highlight
                thead
                    tr
                        th 符号
                        th 设备名
                        th 信号名
                        th
                tbody
                    tr(ng-repeat="variable in variablesAll")
                        td
                            select.no-margin(md-select, ng-model="variable.symbol")
                                option +
                                option -
                        td
                            select.no-margin(md-select, ng-model="variable.equipment", ng-change="selectEquipment(variable)")
                                option(ng-repeat="equip in pueEquips", value="{{equip.model.equipment}}") {{equip.model.name}}
                        td
                            select.no-margin(md-select, ng-model="variable.signal" data="selectRefresh", ng-change="slelectSignal(variable)")
                                option(ng-repeat="signal in variable.equipmentInfo.signals.items" value="{{signal.model.signal}}") {{signal.model.name}}
                        td
                            .btn(ng-click="deleteVariable(variable, 'all')")
                                i.material-icons delete
                                span.text-position 删除
            .energy-btn
                .btn(ng-click="saveVariable('all', variablesAll)")
                    i.material-icons save
                    span.text-position 保存
                .btn(ng-click="addVariable('all')")
                    i.material-icons add
                    span.text-position 新增

        .it-energy
            span.energy-title IT能耗
            table.energy-table.striped.responsive-table.hoverable.highlight
                thead
                    tr
                        th 符号
                        th 设备名
                        th 信号名
                        th
                tbody
                    tr(ng-repeat="variable in variablesIT")
                        td
                            select.no-margin(md-select, ng-model="variable.symbol")
                                option +
                                option -
                        td
                            select.no-margin(md-select, ng-model="variable.equipment", ng-change="selectEquipment(variable)")
                                option(ng-repeat="equip in pueEquips", value="{{equip.model.equipment}}") {{equip.model.name}}
                        td
                            select.no-margin(md-select, ng-model="variable.signal" data="selectRefresh")
                                option(ng-repeat="signal in variable.equipmentInfo.signals.items" value="{{signal.model.signal}}") {{signal.model.name}}
                        td
                            .btn(ng-click="deleteVariable(variable, 'IT')")
                                i.material-icons delete
                                span.text-position 删除
            .energy-btn
                .btn(ng-click="saveVariable('IT', variablesIT)")
                    i.material-icons save
                    span.text-position 保存
                .btn(ng-click="addVariable('IT')")
                    i.material-icons add
                    span.text-position 新增