equipment-air {
  display: block;
  background-color: rgba(7, 27, 85, 0.5); }
  equipment-air .big-box {
    position: relative;
    height: 24vh; }
    equipment-air .big-box .line-col {
      position: absolute;
      width: calc(100% - 1px);
      margin-top: 20px;
      height: calc(100% - 40px);
      border: 1px solid #082268;
      border-top: none;
      border-bottom: none; }
    equipment-air .big-box .line-row {
      position: absolute;
      height: 100%;
      margin-left: 20px;
      width: calc(100% - 40px);
      border: 1px solid #082268;
      border-left: none;
      border-right: none; }
    equipment-air .big-box .box {
      padding: 1rem;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      color: #e2edf2;
      background: url("~images/left-on.png~") 0 0 no-repeat, url("~images/left-under.png~") 0 100% no-repeat, url("~images/right-on.png~") calc(100% - 1px) 0 no-repeat, url("~images/right-under.png~") calc(100% - 1px) 100% no-repeat; }
      equipment-air .big-box .box .title {
        background: url("~images/title-img.png~") center no-repeat;
        text-align: center;
        color: white;
        font-size: 1.2rem; }
      equipment-air .big-box .box .subtitle {
        position: absolute;
        color: #2a89ee;
        font-size: .5rem;
        right: 25px;
        top: 8px; }
      equipment-air .big-box .box .box-content {
        padding-top: .5vh;
        width: 100%;
        height: 18vh;
        flex-direction: row;
        justify-content: space-evenly; }
        equipment-air .big-box .box .box-content .air-name {
          background-color: rgba(7, 27, 85, 0.5);
          color: #2a89ee; }
        equipment-air .big-box .box .box-content .warmColor {
          border: 7px solid #ff2222 !important;
          color: #ff2222; }
        equipment-air .big-box .box .box-content .normalColor {
          border: 7px solid #2a89ee !important;
          color: #2a89ee; }
        equipment-air .big-box .box .box-content .air-status {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          border: 7px solid transparent;
          margin: 1rem auto 0;
          text-align: center;
          line-height: 6.3rem;
          font-size: 18px; }
