div
    p.gray-text(style="font-size:0.8em;margin:0;") 已安全运行
    div.flex
        div.box.white-text.din-font(ng-style="{'background-color':parameters.backgroundColor }") {{value}}
        p(style="position:relative;top:1em;",ng-style="{'color':parameters.backgroundColor }") 天
