.row.nav-top
    .col.s2
        span 用户中心
    .col.s10
    
div(ng-show = "showFlag")
    form.col.l12.cool-content
        .col.s12
            a.btn.waves-effect.waves-light.right.change(href='', ng-click='saveUser()', title='保存')
                span.hide-on-med-and-down 保存
            a.btn.waves-effect.waves-light.right(href='', ng-click='showUserInfo(false)', title='修改密码')
                span.hide-on-med-and-down 修改密码

        .col.s12.m6.l12(style='text-align:center')
            .img-uploader.model-img-upload
                span.pic-name 照片
                image-uploader(ng-model='userObject.image', dir='{{setting.urls.uploadUrl}}')

        //.col.s12.l12.felx(style="margin-top: 1.5rem;")
        //    //- md-switch(ng-model='userObject.private', label-off='公开用户', label-on='私有用户',style="margin-left:10px;" )
        //    .customer-type
        //        .type-box(ng-click='userchoice(false)')
        //            span.type-icon-box
        //                span.type-icon(ng-if="userObject.private == false")
        //            span 公开用户
        //        .type-box(ng-click='userchoice(true)')
        //            span.type-icon-box
        //                span.type-icon(ng-if="userObject.private == true")
        //            span 私有用户
        .col.s8.offset-l2.felx
            label 用户ID
            .input-field
                input.validate(type='text' ng-model='userObject.user' disabled)
        .col.s8.offset-l2.felx
            label 用户名
            .input-field
                input.validate(type='text' ng-model='userObject.name' required)
        .col.s8.offset-l2.felx
            label 邮件
            .input-field
                input.validate(type='email' ng-model='userObject.email' required)
        .col.s8.offset-l2.felx
            label 手机号码
            .input-field
                input.validate(type='text' ng-model='userObject.phone' )
        //.col.s8.offset-l2.felx(style="margin-bottom: 1.5rem;")
        //    label 微信ID
        //    .input-field
        //        input.validate(type='text' ng-model='userObject.openid' )
div(ng-show = "!showFlag")

    .col.l12.cool-content
        .col.s12
            .btn-group1
                a.btn.waves-effect.waves-light(href='', ng-click='showUserInfo(true)', title='用户信息')
                    span.hide-on-med-and-down 用户信息
                a.btn.waves-effect.waves-light.change(href='', ng-click='updatePassword()', title='修改密码')
                    span.hide-on-med-and-down 保存

        .col.s8.offset-l2.felx
            label 用户ID
            .input-field
                input.validate(type='text' ng-model='userObject.user' disabled)
        .col.s8.offset-l2.felx
            label 旧密码
            .input-field
                input.validate(type='password' ng-model='oldPassword' required autocomplete='off')
        .col.s8.offset-l2.felx
            label 新密码
            .input-field
                input.validate(type='password' ng-model='newPassword' required autocomplete='off')
        .col.s8.offset-l2.felx
            label 确认密码
            .input-field
                input.validate(type='password' ng-model='confirmPassword' required autocomplete='off')



#user-manager-prompt-modal.modal.modal-fixed-footer(md-modal, style="width: 80%;height: 50%; ")
    .modal-content.white-text
        h4 确定删除此用户吗？
    .modal-footer.modal-nav
        nav.green-1
            .nav-wrapper
                ul.right
                    li
                        a(href='', ng-click="modal.confirm(true)")
                            i.material-icons.right check
                            span.hide-on-med-and-down 确认

                    li
                        a.modal-close(href='', ng-click="modal.confirm(false)")
                            i.material-icons.right close
                            span.hide-on-med-and-down 关闭