station-graphic graphicparamter-box .max-height {
  height: 78vh !important;
  padding-top: 2rem; }

station-graphic .nav-rechang-body {
  background-color: rgba(26, 69, 162, 0.4);
  height: 84vh;
  margin: 0 !important;
  margin-left: -0.1rem !important; }

@media screen and (max-width: 1400px) {
  station-graphic .nav-rechang-body {
    height: 78vh; } }
