.row.nav-top
    .col.s12
        station-breadcrumbs(controller="controller", parameters="{}")
.row
    .col.s12(style="position:relative;height:82vh;width:98%")
        room-3d-component(controller='controller', parameters="{}")