yingmai-video {
  display: block;
  background-color: rgba(7, 27, 85, 0.5); }
  yingmai-video .big-box {
    position: relative;
    height: 28vh; }
    yingmai-video .big-box .line-col {
      position: absolute;
      width: calc(100% - 1px);
      margin-top: 20px;
      height: calc(100% - 40px);
      border: 1px solid #082268;
      border-top: none;
      border-bottom: none; }
    yingmai-video .big-box .line-row {
      position: absolute;
      height: 100%;
      margin-left: 20px;
      width: calc(100% - 40px);
      border: 1px solid #082268;
      border-left: none;
      border-right: none; }
    yingmai-video .big-box .box {
      padding: 1rem;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      color: #e2edf2;
      background: url("~images/left-on.png~") 0 0 no-repeat, url("~images/left-under.png~") 0 100% no-repeat, url("~images/right-on.png~") calc(100% - 1px) 0 no-repeat, url("~images/right-under.png~") calc(100% - 1px) 100% no-repeat; }
      yingmai-video .big-box .box .title {
        background: url("~images/title-img.png~") center no-repeat;
        text-align: center;
        color: #2a89ee;
        font-size: 1.2rem;
        margin-bottom: 2vh; }
      yingmai-video .big-box .box .subtitle {
        position: absolute;
        color: #2a89ee;
        font-size: .5rem;
        right: 25px;
        top: 8px; }
      yingmai-video .big-box .box .content {
        padding-top: .5vh;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        yingmai-video .big-box .box .content .content-logo {
          margin: 0 2rem;
          text-align: center; }
          yingmai-video .big-box .box .content .content-logo img {
            width: 80%; }
        yingmai-video .big-box .box .content .signal-name {
          color: #fff;
          font-size: .75rem; }
        yingmai-video .big-box .box .content .signal-value {
          color: #2a89ee;
          font-size: 1.25rem; }
        yingmai-video .big-box .box .content .signal-unit {
          font-size: .75rem; }
