//-
    User: Dow
    Date: 6/29/2016
    Desc:

.col.row.s12
    nav.equiplannav.z-depth-0
        .nav-wrapper
            .search-box
                i.search-i.material-icons search
                input.search-signal-input(type='search', ng-model='searchSignal', placeholder='输入信号ID或名称', required)
                i.search-c.material-icons(ng-click='searchSignal = ""', ng-show='searchSignal') close


    .signal-list
        table.hoverable.highlight.responsive-table
            thead
                tr
                    th
                        .col-header(ng-click='currEquipment.signals.sortBy("data.severity")')
                            span 状态
                            span.right(ng-show='currEquipment.signals.predicate == "data.severity"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    //- th
                    //-     //.col-header(ng-click='currEquipment.signals.sortBy("model.group")')
                    //-     .col-header.text-align-left
                    //-         span 分组
                    //-         span.right(ng-show='currEquipment.signals.predicate == "model.group"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    th
                        //.col-header(ng-click='currEquipment.signals.sortBy("model.name")')
                        .col-header.text-align-left
                            span 信号名称
                            span.right(ng-show='currEquipment.signals.predicate == "model.name"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    th
                        //.col-header(ng-click='currEquipment.signals.sortBy("data.value")')
                        .col-header.text-align-left
                            span 实时值
                            span.right(ng-show='currEquipment.signals.predicate == "data.value"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    th
                        //.col-header(ng-click='currEquipment.signals.sortBy("unit.unit")')
                        .col-header.text-align-left
                            span 单位
                            span.right(ng-show='currEquipment.signals.predicate == "unit.unit"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    th
                        .col-header.text-align-left(ng-click='currEquipment.signals.sortBy("data.timestamp")')
                            span 更新时间
                            span.right(ng-show='currEquipment.signals.predicate == "data.timestamp"') {{currEquipment.signals.reverse && "▽" || "△"}}
                    th
                        .text-align-left
                            span 趋势图

            tbody
                //tr(ng-repeat='signal in filterSignals = (currEquipment.signals.items | filter: currEquipment.signals.filter(searchSignal, ["signal", "name"], true)) | orderBy: currEquipment.signals.predicate: currEquipment.signals.reverse')
                tr(ng-repeat='signal in filterSignals = (currEquipment.signals.items | filter: filterSignal()) | orderBy: currEquipment.signals.predicate:revers', ng-class='{"active": signal == signal}')
                    td.center
                        a.modal-trigger(href='', data-target='signal-modal', ng-click='selectSignal(signal)')
                            i.material-icons(ng-style='{color: signal.data.color || "grey"}' style="vertical-align: middle;" title="查看细节") multitrack_audio

                    //-td {{signal.model.signal}}
                    //- td.center.text-align-left {{signal.model.group || " "}}
                    td.center.text-align-left {{signal.instance.name}}
                    td.center.text-align-left
                        span.signal-value {{signal.data.formatValue}}
                    td.center.text-align-left {{signal.unit.unit}}
                    //-td {{project.typeModels.signaltypes.keys[signal.model.unit].model.unit}}
                    td.center.text-align-left {{signal.data.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}
                    td.center.text-align-left
                        a(ng-click='signalTrend(signal)', title='信号趋势图' style ="cursor: pointer;" ng-show="{{signal.model.dataType=='float'}}")
                            //img(src="res/svg/fullscreen.svg")
                            i.material-icons.small trending_up

