station-breadcrumbs .no-bg-color {
  background-color: transparent; }

station-breadcrumbs .dropdown-content {
  width: auto !important;
  background-color: rgba(26, 69, 162, 0.6); }
  station-breadcrumbs .dropdown-content li a {
    color: #e2edf2; }

station-breadcrumbs .dropdown-content li:hover, station-breadcrumbs .dropdown-content li.active {
  background-color: #1a45a2 !important; }
