station-video {
  display: block; }
  station-video .big-box {
    position: relative;
    height: 28vh; }
    station-video .big-box .line-col {
      position: absolute;
      width: calc(100% - 1px);
      margin-top: 20px;
      height: calc(100% - 40px);
      border-top: none;
      border-bottom: none; }
    station-video .big-box .line-row {
      position: absolute;
      height: 100%;
      margin-left: 20px;
      width: calc(100% - 40px);
      border-left: none;
      border-right: none; }
    station-video .big-box .box {
      padding: 1rem;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      color: #e2edf2; }
      station-video .big-box .box .select-slogo {
        background: url("~images/triangle.svg~");
        width: 14px;
        height: 10px;
        display: block;
        float: right;
        margin-top: 1px; }
      station-video .big-box .box .subtitle {
        position: absolute;
        color: white;
        right: 25px;
        top: 2vh;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 8px;
        background-color: rgba(1, 166, 255, 0.4); }
      station-video .big-box .box .title-line {
        width: 4px;
        height: 20px;
        background: #01a6ff;
        float: left;
        margin-top: 0.3rem; }
      station-video .big-box .box .title-h2 {
        font-size: 12px;
        font-weight: 400;
        margin-left: 0.5rem; }
      station-video .big-box .box .title {
        display: inline;
        text-align: left;
        margin-left: 0.5rem;
        color: white;
        font-size: 20px;
        font-weight: 600; }
      station-video .big-box .box .content {
        padding-top: .5vh;
        height: 21vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        station-video .big-box .box .content .content-logo {
          margin: 0 2rem;
          text-align: center; }
          station-video .big-box .box .content .content-logo img {
            width: 80%; }
        station-video .big-box .box .content .signal-name {
          color: #fff;
          font-size: .75rem; }
        station-video .big-box .box .content .signal-value {
          color: #2a89ee;
          font-size: 1.25rem; }
        station-video .big-box .box .content .signal-unit {
          font-size: .75rem; }
