//.row.tree-style
//    .col.s12(style="padding-right: 0;")
//        nav.no-box-shadow
//            .nav-wrapper
//                .col.l12.cool-card
//                    span {{parameters.reportName}}
.row
    .col.l12
        .filter(ng-show="filter")
            i.material-icons.white-text search
            input.ng-pristine.ng-valid.ng-empty.ng-touched(placeholder='过滤条件..' ng-model="search" autocomplete="off" ng-keyup="filterTree()" name="search",style="border:0 !important;")
            div.grey-text.center.delete(ng-show='search', ng-click='search=""; filterTree()', title='清空过滤条件', style="") ×
        .tree