.row.nav-top
    .col.s12
        span(style="font-size: 14px") 移动端APP
.row
    .col.s12.m6.l12
        .card.card-border.card-img-container
            .card-image
                .card-image-placeholder
                    .qrcode
            .card-content.center
                .card-title
                    span {{parameter.title || "Android"}}
