//-
    User: Pu
    Date: 2019/02/20
    Desc:
style.
    .box-border {
        background-image: none !important;
        background-color: transparent !important;
    }
    .big-custom-container{
        height: calc( 100vh - 64px);
        /*width: 90vh;*/
        background-color: rgba(26,69,162,0.4);
    }

    .box-border #graphic{
        transform: scale(1.1)
    }
    station-environment {
        height: 27vh;
        margin-top: -4.4vh;
    }
.row
    .col.l12.no-padding
        .big-custom-container
            custom-dashboard(controller="vm" parameters="{}")

//- map-main-page(controller="vm" parameters="{}")