//-
    User: Pu
    Date: 2020/05/30
    Desc: 
    
.row.no-margin
    report-alarm-records.col.s12(controller="vm", parameters="{type:'alarm', height: '80vh', alarmCompleted: true, pageItems: 50, headerName: '历史告警'}")