//-
    User: Pu
    Date: 2019/04/02
    Desc: 
    
//- .row.no-margin
//-     notification.col.s12(controller="vm", parameters="{}")
.row
    .col.l12
        notification-setting(controller="vm", parameters="{}")