//-
    User: Pu
    Date: 2019/04/04
    Desc: 
    
.row
    //- report-historysignal.col.s12(controller="vm", parameters="{type:'signal',chartType:'line', pageItems:10}")
    report-historysignal-single.col.s12(controller="vm", parameters="{type:'signal',chartType:'line', pageItems:10000}")