//-
    User: region
    Date: 2019/09/23
    Desc:
.row.no-margin
    video-reliable-hik(ng-if="vm.videotype=='hik'",controller="vm", parameters="{}")
    video-reliable-dahua(ng-if="vm.videotype=='dahua'",controller="vm", parameters="{}")
