//-
    User: region
    Date: 2019/04/11
    Desc: 
    
.row.no-margin
    video-history(ng-if="vm.videotype=='hik'",controller="vm", parameters="{}")
    video-history-dahua(ng-if="vm.videotype=='dahua'",controller="vm", parameters="{}")