@import url(/lib/jquery.fancytree/dist/skin-win8/ui.fancytree.css);
ul.fancytree-container {
  border: 0 !important; }

station-tree input:not([type]):focus:not([readonly]) {
  box-shadow: none; }

station-tree .filter input {
  width: calc(100% - 38px);
  margin: 0 !important;
  padding-left: 36px; }

station-tree .icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em; }

station-tree .filter {
  margin: 0;
  background-color: rgba(26, 69, 162, 0.4);
  margin-bottom: 2px;
  position: relative; }

station-tree .filter > i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  height: 48px;
  line-height: 50px;
  padding-left: 10px; }

station-tree .filter > .delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0px;
  padding: 0;
  width: 40px;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  color: #ef5350;
  font-size: 24px; }

station-tree .tree-style {
  margin-bottom: .75rem; }
