report-operations grid-table {
  display: block;
  background-color: rgba(26, 69, 162, 0.4);
  height: 79vh; }
  report-operations grid-table .ag-blue .ag-ltr .ag-header-cell {
    border-right: 0 !important; }
  report-operations grid-table .ag-blue .ag-cell, report-operations grid-table .ag-blue .ag-header-group-cell-label {
    text-align: left; }
  report-operations grid-table .ag-blue .ag-header {
    background-color: #616161;
    font-size: 15px; }
  report-operations grid-table .ag-blue .ag-body {
    background-color: white;
    font-size: 14px; }
  report-operations grid-table .ag-blue .ag-root {
    border: 0px solid #e0e0e0; }

report-operations .nav-top ul li {
  margin-right: 0.75rem; }

report-operations .paging-select-box {
  background-color: rgba(26, 69, 162, 0.4) !important;
  height: 5.7vh; }
  report-operations .paging-select-box .page-button i {
    margin-top: 0px; }
