.webui-popover, .webui-popover-title {
  background-color: #1a45a2; }

::-webkit-scrollbar {
  width: 4px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: rgba(26, 69, 162, 0.4); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 231, 238, 0.4); }

.dropdown-content {
  background-color: rgba(26, 69, 162, 0.6) !important; }

.btn-flat {
  color: white !important; }

.select-wrapper .caret {
  fill: #4ba5f8 !important; }

.margin-left-10 {
  margin-left: 10px; }
