alarm-query
  .right
    li
      margin-right: .75rem

  .dropdown-content
    i
      margin-right: 10px !important

  .ag-row
    border-bottom: 1px solid #0050a0

  .ag-header-viewport
    background-color: rgba(26, 69, 162, 0.4)
    border-bottom: 1px solid #0050a0

  .ag-blue .ag-cell-no-focus
    border-right: 0 !important
    border-bottom: 0 !important

  .ag-header
    border-bottom: 0 !important
    font-size: 14px !important
    background-color: rgba(26, 69, 162, 0.4) !important

  .ag-header-container
    margin-top: 6px

  .ag-blue
    height: 100%
    color: #e2edf2

  .ag-blue .ag-cell, .ag-header-group-cell-label
    text-align: center
    display: flex
    justify-content: center
    align-items: center

  .ag-blue .ag-header
    background-color: #022c66
    font-size: 14px
    display: flex
    justify-content: center
    align-items: center

  .ag-blue .ag-body
    background-color: transparent
    font-size: 14px

  .ag-blue .ag-root
    border: 0 solid #03a8ff

  .ag-blue .ag-row-even
    background: transparent
  //  rgba(26, 69, 162, 0.4) !important

  .ag-blue .ag-row-odd
    background-color: rgba(26, 69, 162, 0.6)

  .ag-blue .ag-header-cell-label > span
    float: left
    margin: 0 auto

  .ag-blue .ag-ltr .ag-header-cell
    border-right: none

  .ag-body-viewport
    overflow-x: hidden
    overflow-y: true
