.row
  .col.l12
    .reporting-table
      .params( ng-repeat=" item in paramRouterObj " )
        a.uList( ng-repeat=" u in item track by $index " ng-href=" #/{{ u.router }}/{{$root.myproject.user}}/{{$root.myproject.project}}")
          img(ng-src="{{ u.src }}", alt="", title="{{ u.title }}")
          //- img(ng-src="{{getComponentPath('image/1.svg')}}", alt="", title="{{ u.title }}")
          //- img(ng-src="{{'res/svg/report/' + u.src }}", alt="", title="{{ u.title }}")
          p {{ u.name }}

//- a(ng-href='#/ups-alarm/{{$root.myproject.user}}/{{$root.myproject.project}}', title='UPS告警记录 ')
//- .font UPS告警记录

//- a(ng-href='#/ac-alarm/{{$root.myproject.user}}/{{$root.myproject.project}}', title='空调告警记录 ')
//- .font 空调告警记录

//-  a(ng-href='#/battery-alarm/{{$root.myproject.user}}/{{$root.myproject.project}}', title='蓄电池故障告警统计 ')
//- .font  蓄电池告警记录

//- a(ng-href='#/door-report/{{$root.myproject.user}}/{{$root.myproject.project}}', title='门禁刷卡记录 ')
//- .font 门禁刷卡记录

//- a(ng-href='#/reporting-signal/{{$root.myproject.user}}/{{$root.myproject.project}}', title='设备告警记录 ')
//- .font 设备告警记录

//-   a(ng-href='#/report-activeevents/{{$root.myproject.user}}/{{$root.myproject.project}}', title='活动告警记录 ')
//-  .font 活动告警记录

//-  a(ng-href='#/repord-report-alarm/{{$root.myproject.user}}/{{$root.myproject.project}}', title='设备告警屏蔽记录 ')
//-  .font 告警屏蔽记录

//- a(ng-href='#/reporting-events-level/{{$root.myproject.user}}/{{$root.myproject.project}}', title='按告警级别统计 ')
//-  .font 按告警级别统计

//-                 a(ng-href='#/report-frequencyevents/{{$root.myproject.user}}/{{$root.myproject.project}}', title='高频次告警记录 ')
//- .font 高频次告警记录

//- a(ng-href='#/finish-alarm/{{$root.myproject.user}}/{{$root.myproject.project}}', title='强制结束告警记录 ')
//- .font 强制结束告警记录

//- a(ng-href='#/record-hiscurve/{{$root.myproject.user}}/{{$root.myproject.project}}', title='历史数据曲线 ')
//- .font 历史数据曲线记录

//- a(ng-href='#/reporting-battery-discharge/{{$root.myproject.user}}/{{$root.myproject.project}}', title='蓄电池放电统计 ')
//- .font 蓄电池放电统计

//-  a(ng-href='#/asset-report/{{$root.myproject.user}}/{{$root.myproject.project}}', title='资产统计 ')
//-  .font 资产统计

//- a(ng-href='#/electricity-consumption/{{$root.myproject.user}}/{{$root.myproject.project}}', title='用电量统计')
//- .font 用电量统计

//- a(ng-href='#/reporting-signal/{{$root.myproject.user}}/{{$root.myproject.project}}', title='设备信号记录 ')
//- .font 设备信号记录

//-  a(ng-href='#/log/{{$root.myproject.user}}/{{$root.myproject.project}}', title='设备操作日志记录 ')
//-  .font 设备操作日志记录

//- a(ng-href='#/report-systemlog/{{$root.myproject.user}}/{{$root.myproject.project}}', title='系统日志查询 ')
//- .font 系统日志查询

//- a(ng-href='#/history-send-notification/{{$root.myproject.user}}/{{$root.myproject.project}}', title='通知发送记录 ')
//- .font 通知发送记录

