div.flex(style="justify-content: space-evenly;")
    div
        a#show-object3D.btn.little-box(ng-click='clickShowingModel(0)',ng-class="{'little-box-highlight':rotateIndex == 0}") 实体
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-comprehensive.btn.little-box(ng-click='clickShowingModel(1)',ng-class="{'little-box-highlight':rotateIndex == 1}") 综合
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-space.btn.little-box(ng-click='clickShowingModel(2)',ng-class="{'little-box-highlight':rotateIndex == 2}") 空间
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-power.btn.little-box(ng-click='clickShowingModel(3)',ng-class="{'little-box-highlight':rotateIndex == 3}") 电力
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-cooling.btn.little-box(ng-click='clickShowingModel(4)',ng-class="{'little-box-highlight':rotateIndex == 4}") 制冷
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-ports.btn.little-box(ng-click='clickShowingModel(5)',ng-class="{'little-box-highlight':rotateIndex == 5}") 端口
            .top-left
            .top-right
            .bottom-left
            .bottom-right
    div
        a#show-weight.btn.little-box(ng-click='clickShowingModel(6)',ng-class="{'little-box-highlight':rotateIndex == 6}") 承重
            .top-left
            .top-right
            .bottom-left
            .bottom-right