div(id="{{'player1-'+equipment.model.equipment}}",style="height:73vh;width:57vw;")
    div.vxgplayer(id="{{'player-'+equipment.model.equipment}}"  style="height:72vh;width:56vw;display:block;text-align:center;")
        div.back.single-vxgplayer
        p.title 请点击左侧某个摄像头进行播放